@charset "UTF-8";

body {
  background-color: #00BFFF;
  font-family: sans-serif;
}

div {
  background-color: lightyellow;
  border: black 1px solid;
  padding: 10px 30px;
  margin: 10px;
  width: 50%;
}

table {
  margin-left: auto;
  margin-right: auto;
}

div.en table {
  border-collapse: collapse;
  border: none;
  text-align: center;
}

div.en caption {
  font-style: oblique;
  font-weight: bold;
  letter-spacing: 5px;
}
div.en th {
  width: 3em;
  border-left: none;
  border-right: none;
  border-top: none;
}

div.en td {
  width: 3em;
  border-left: none;
  border-right: none;
}



div.feb table {
  border: none;
  border-collapse: collapse;
  text-align: right;
}
div.feb caption {
  font-weight: bold;
  text-align: right;
}

div.feb td {
  border-top: none;
  border-bottom: none;
  font-size: 150%;
  padding-right: 5px;
  width: 1.5em;
}
div.feb th {
  border-top: none;
  border-bottom: none;
  padding-right: 5px;
}

div.mar table {
  border: black 1px solid;
  border-collapse: collapse;
  text-align: left;
}
div.mar caption {
  font-variant: small-caps;
  letter-spacing: 10px;
  margin-bottom: 5px;
  text-align: left;
}
div.mar th {
  text-align: center;
}
div.mar td {
  width: 4em;
  height: 4em;
  padding-left: 5px;
  font-size: 70%;
  vertical-align: top;
}
html {
    margin-bottom: 0;
    padding-bottom: 2rem;
}

p.mclibre {
    all: initial;
    position: fixed;
    bottom: 0;
    left: 0;
    clear: both;
    width: 100%;
    height: 1.5rem;
    margin: 0;
    padding: 0.25em 0 0.25em;
    border-top: black 2px solid;
    background-color: white;
    color: black;
    font-family: sans-serif;
    font-size: 0.8rem;
    text-align: center;
}

p.mclibre * {
    all: initial;
    font-family: sans-serif;
    font-size: 0.8rem;
}

p.mclibre::first-letter {
    all: initial;
    font-family: sans-serif;
}

p.mclibre a {
    color: blue;
    text-decoration: underline;
}

p.mclibre a cite {
    padding: 0;
    color: blue;
    font-style: oblique;
}

p.mclibre cite {
    padding: 0;
    color: black;
}


